server {
    listen 80;
    listen [::]:80;
    server_name guias.hlquery.com guides.hlquery.com;
    return 301 https://guias.hlquery.com$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name guides.hlquery.com;

    ssl_certificate /etc/letsencrypt/live/guias.hlquery.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/guias.hlquery.com/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    return 301 https://guias.hlquery.com$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name guias.hlquery.com;

    root /home/web/www/guias;
    index index.html index.htm;

    ssl_certificate /etc/letsencrypt/live/guias.hlquery.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/guias.hlquery.com/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
